@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Municipal Application</h1>
     <a class="btn btn-primary" asp-page="/ReportIssues">Report an Issue</a>
     <a class="btn btn-primary" asp-page="/LocalEvents">Local Events and Announcements</a>
     <button type="button" class="btn" disabled>Service Requests (to be implemented in part 3)</button>
</div>
